@import "tailwindcss";

@font-face {
  font-family: "HelveticaNeueBlack";
  src: url("/src/assets/fonts/HelveticaNeueBlack.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}